 /* common styles  */
 *{
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", serif;
 }

 .primary-btn{
    background-color: #006A50;
    color:#FFFFFF;
    padding: 17px 34px;
    font-size: 18px;
    font-style: 600;
    border-radius: 8px;
    border: none;
    cursor: pointer;
 }
 .primary-btn:hover {
  background-color: #E8F6F2; 
  color: #006A50; 
  border: 2px solid #006A50;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; 
}

 .secondary-btn{
    color:#FFFFFF;
    padding: 11px 20px;
    font-size: 16px;
    font-style: 600;
    border-radius: 8px;
    border: none;
    cursor: pointer;
 }
 
 .bg-blue {
  background-color: rgba(84, 144, 245, .2);
}

.bg-blue:hover {
  background-color: rgba(84, 144, 245, 0.4);
  box-shadow: 0 4px 8px rgba(84, 144, 245, 0.2);
}

.blue-button {
  background-color: rgb(84, 144, 245);
}

.blue-button:hover {
  background-color: #E8F6F2;
  color: #5490F5;
  border: 1px solid #5490F5;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.bg-green {
  background-color: #C6E4D6;
}

.bg-green:hover {
  background-color: #aedeca;
  box-shadow: 0 4px 8px rgba(9, 161, 92, 0.2);
}

.green-button {
  background-color: #09A15C;
}

.green-button:hover {
  background-color: #E8F6F2;
  color: #09A15C;
  border: 1px solid #09A15C;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.bg-yellow {
  background-color: #F7EBCF;
}

.bg-yellow:hover {
  background-color: #f5e3bb;
  box-shadow: 0 4px 8px rgba(255, 194, 57, 0.2);
}

.yellow-button {
  background-color: #FFC239;
}

.yellow-button:hover {
  background-color: #E8F6F2;
  color: #FFC239;
  border: 1px solid #FFC239;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

 
body{
    width: 1280px; 
    margin: 0 auto;
    background-color: #F5F5F5;
    position: relative;
}


section{
  margin-bottom: 80px;
}

.section-title2{
  margin-bottom: 24px;
}
.section-title,.section-title2{
  font-size: 40px;
  color: rgba(14,14,14,1);
  margin-bottom: 24px;
}
.section-description,.vision-description{
    font-size: 16px;
    color: rgba(14,14,14,.7);
}

/* navbar styles */
nav{
    display: flex;
    justify-content: space-between;
    padding: 31px 0;
}
nav h2,.news-title{
    font-size: 32px;
    font-family: 700;
}

.sign-in-btn{
  font-size: 18px;
  font-weight: 600;
  padding: 15px 30px;
  color: #006A50;
  border: 1px solid #006A50;
  border-radius: 8px;
  cursor: pointer;
}
.sign-in-btn:hover{
  background-color: #006A50;
  color: #FFFFFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
 
/* navbar done */
.banner{
    margin:20px 0px;
    background-color:#C6E4D6;
    display: flex;
    gap: 64px;
    justify-content: space-between;
    align-items: center;
    padding: 80px 60px;
    border-radius: 24px;
}
.banner-details{
    max-width: 622px;
}
.banner-title{
    color: rgba(14,14,14,.5);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.banner-description{
    color: #0E0E0E;
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 24px;
}

.vision-list{
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
}

.visions{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 32px;
    border-radius: 16px;
}

.vision-img{
    width: 64px;
    height: 64px;
}

.vision-img{
    width: 100%;
    margin-bottom: 24px;
}

.vision-title{
    color: rgba(14,14,14,.8);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}

.vision-description{
    margin-bottom: 24px;
    width: 346px;
    line-height: 24px;
    flex:1;
}

.speech{
    background-image: url(../images/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 24px 25px;
    padding: 48px 24px;
    background-color:#FFFFFF ;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, .15);
}
.speech-description{
    font-size: 16px;
    color: rgba(14,14,14,.8);
    margin-bottom: 12px;
}

.speaker{
    font-size: 20px;
    color: rgba(14,14,14,.8);
    font-weight: 600;
}

.speaker-title{
    font-size: 16px;
    color: rgba(14,14,14,.6);
    font-weight: 400;
}

/* recent-news */
.news-card{
    margin-top: 24px;
    display: flex;
    gap: 32px;
    padding: 48px;
    background-color: #FFFFFF;
    border-radius: 24px;
}
.news-img img{
  border-radius:24px ;
}

.news-title{
  color:rgba(14,14,14,.8) ;
  margin-bottom: 12px;
}

.news-items{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.news-items>img{
  margin-bottom: 12px;
}

.publishing-time-date{
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}

.news-description{
  margin-bottom: 32px;
  line-height: 24px;
  flex: 1;
}

.news-items-reverse{
  display: flex;
  flex-direction: row-reverse;
}

.donate{
  padding: 0 88px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  text-align: center;
  line-height: 24px;
}

.donate-cards{
  margin:32px 0;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.donate-card-items{
  font-size: 40px;
  color: rgba(14,14,14,.8);
  font-weight: 900;
  padding: 40px;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.donate-card-items:hover{
  background-color: #88B798;;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.donate-card-items-colored{
  background-color: #C6E4D6;
}

.donate-input{
  width: 90%;
}

.donate-input input{
  display: block;
  width: 100%;
  padding: 20px 40px;
  border: none;
  border-bottom: 1px solid rgba(14, 14, 14, .15);
  margin-bottom: 32px;
  box-sizing: border-box;

}

.donate-input input::placeholder{
  font-size: 20px;
  color: rgba(14,14,14,.3);
  text-align: center;
}

.news-letter{
  background-color: #C6E4D6;
  border-radius: 24px;
  padding: 80px 265px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.newsletter-description{
  max-width: 622px;
  line-height: 24px;
  margin-bottom: 24px;
}
.subscribe{
  display: flex;
  width: 750px;
  margin-bottom: 24px;
}
.subscribe input{
   border: none;
   padding: 18px 40px;
   border-radius: 8px 0px 0px 8px;
   flex: 1;
   padding: 17px 34px;
   color: rgba(14, 14, 14, .15);
}

.subscribe-btn{
  border: none;
  border-radius: 0px 8px 8px  0px;
  font-size: 18px;
  font-weight: 600;
  padding: 17px 34px;
  background-color: #006A50;
  color: #FFFFFF;
}

.subscribe-btn:hover{
  background-color: #E8F6F2; 
  color: #006A50; 
  border: 1px solid #006A50;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; 
}

.footer-container {
  width: 100vw;
  background-color: white;  
  padding: 20px 0;  
  position: relative;  
  left: 50%;  
  margin-left: -50vw; 
}


.footer {
  width: 1280px; 
  margin: 0 auto;  
  padding: 40px 0;  
  text-align: center;  
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer-header{
  font-size: 32px;
  font-weight: 700;
  color: rgba(14,14,14,1);
}

footer hr{
  margin: 16px 0;
  border: none;
  width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-images{
  display: flex;
  gap: 23px;
  justify-content: center;
}